{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "index.js" %}"></script>
    <title>Project</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block list %}
    {% endblock %}
</body>
</html>